html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; }
  body .attribution {
    position: absolute;
    bottom: 0;
    margin-top: 3rem; }

section {
  width: 80%;
  margin-top: 7rem; }

.top-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #502050;
  gap: 20rem; }
  .top-content .products h2 {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    font-weight: 700; }
  .top-content .products p {
    line-height: 1.5;
    font-size: 1.5rem;
    color: #937b92; }
  .top-content .reviews {
    margin-top: 3rem; }
    .top-content .reviews .rating {
      display: flex;
      padding: 1.5rem;
      background-color: #f7f2f7;
      min-width: fit-content; }
      .top-content .reviews .rating:not(:last-child) {
        margin-bottom: 1rem; }
      .top-content .reviews .rating p {
        margin-left: 3rem; }

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem; }
  .card-section .card {
    display: flex;
    flex-direction: column;
    background-color: #502050;
    padding: 3rem;
    color: white;
    position: relative;
    /* mobile view
       
        &:not(:last-child){
            margin-bottom: 2rem;
        }
*/ }
    .card-section .card .profile {
      display: flex;
      align-items: center;
      margin-bottom: 3rem; }
      .card-section .card .profile-details {
        margin-left: 3rem; }
        .card-section .card .profile-details h2 {
          color: white; }
        .card-section .card .profile-details p {
          color: #ee68a4; }
      .card-section .card .profile img {
        border-radius: 50%; }
  .card-section .card-2 {
    top: 2rem; }
  .card-section .card-3 {
    top: 3rem; }

@media only screen and (min-width: 991px) {
  .rating {
    display: flex;
    position: relative;
    min-width: fit-content; }
  .rating-1 {
    right: 5rem; }
  .rating-2 {
    right: 3rem; } }

@media only screen and (max-width: 1154px) {
  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (max-width: 990px) {
  .top-content, .reviews {
    display: flex;
    flex-direction: column;
    gap: 0rem; }
    .top-content .reviews, .reviews .reviews {
      position: static; }
  .top-content .products {
    text-align: center; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card-section {
    display: flex;
    flex-direction: column; }
  .top-content {
    display: flex;
    flex-direction: column; }
    .top-content h2 {
      font-size: 2rem; }
  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: static; } }
